.serviceHeader{
    background-image: url('../img/service/service-bg.png');
}
.serBlock .wrapper>h2{
    display: block;
    margin: 80px auto 75px;
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffd1d0;
}
.servBlock{
    display: inline-block;
    width: 30%;
    margin: 0 15px;
    background-image: url('../img/service/serv1Icon-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}
.servBlock:before{
    content: url('../img/sale/sale-coner.png');
    width:50px;
    height:50px;
    position: absolute;
    top: 0;
    left: -1px;
}
.servBlock>img{
    width:70px;
    height:80px;
    padding: 40px 0 30px;
}
.servBlock>h4{
     font-size: 16px;
     font-weight: bold;
     color: white;
 }
.servBlock>span{
    font-size: 10px;
    color: white;
    padding: 10px 70px 30px;
    display: block;
}
.servBlock>p{
    font-size: 7px;
    color: #6c6782;
    padding: 15px 0 10px;
    display: block;
}
.btnService{
    position: static;
    font-size: 10px;
    padding: 12px 0;
    width:125px;
    margin: 0 auto;
    display: block;
}
.btnService:hover{
    background-position: 125px;
}
.servBlock2{
    background-image: url('../img/service/itemServ-bg2.png');
}
.servBlock3{
    background-image: url('../img/service/itemServ-bg3.png');
}
.servBlock3 .servSale{
    display: block;
    font-size: 48px;
    font-weight: bold;
    color:white;
    padding: 55px 0 35px;
}
.servBlock5 .BigSale{
    font-size: 72px;
    padding: 40px 0 15px;
}
.servBlocks{
    display: flex;
    margin: 0 auto 140px ;
    padding: 0 60px;
}
.serviceForm{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.serviceForm>h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 80px;
}
form>input[type="text"],
select{
    border: none;
    font-size: 12px;
    color: #60697c;
    padding-bottom:15px;
    border-bottom: 1px solid #d8dee9;
    margin: 0 20px;
}
form>input[type="text"]:focus{
    border-bottom: 2px solid red;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
form{
    padding-bottom: 80px;
}
form>option>a:hover{
    margin: 10px 0;
    color: #979fb0;
}
form>option>a:hover{

    color: red;
}
.ServiceAdd{
    position: static;
    display: block;
    margin: 0 auto;
    width:135px;
    padding:15px ;
    text-align: center;
    margin-bottom: 130px;
}
.ServiceAdd:hover{
    background-position: 165px;
}
@media(max-width:1000px){
    .serviceForm{
        width:100%;
    }
}
@media(max-width:950px){
    .servBlocks{
        padding:0;
    }
    .servBlock>span{
        padding: 10px 20px 30px;
    }
}
@media(max-width:650px){
    .servBlocks{
        flex-wrap: wrap;
        justify-content: center;
    }
    .servBlock{
     margin-bottom: 10px;
        width: 50%;
    }
    .servBlocks {
        margin: 0 auto 40px;
    }
    form>input[type="text"], select{
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .serviceOption{
        text-align: center;
    }
}
@media(max-width:500px){

    .servBlock{
        width: 80%;
    }

}